@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    /* Menyembunyikan scrollbar untuk Chrome, Safari, dan Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
    /* Menyembunyikan scrollbar untuk IE, Edge, dan Firefox */
    .no-scrollbar {
        -ms-overflow-style: none; /* IE dan Edge */
        scrollbar-width: none; /* Firefox */
    }
}
